html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Urbant*/
@font-face {
  font-family: 'Urbanist', sans-serif;
  src: url(../fonts/static/Urbanist-Bold.ttf);
}

@font-face {
  font-family: 'Urbanist', sans-serif;
  src: url(../fonts/static/Urbanist-Medium.ttf);
}

.urbanist-bold {
  font-family: 'Urbanist', sans-serif;
}

.urbanist-medium {
  font-family: 'Urbanist', sans-serif;
}

.swiper-button-next {
  color: white !important;
  width: 18px !important;
  height: 31.5px !important;
  padding-right: 47px !important;
}

.swiper-button-prev {
  color: white !important;
  width: 18px !important;
  height: 31.5px !important;
  padding-left: 47px !important;
}